@model IEnumerable<InvoiceManager.Models.Domains.Client>
@{
    ViewBag.Title = "Klienci";
}

<h1 class="mb-3">Faktury</h1>
<button class="btn btn-primary mb-3"
        onclick='window.location.href="@Url.Action("Client","Client")"'>
    Dodaj
</button>
@if (Model != null && Model.Any())
{
    <table class="table table-hover table-striped mt-3 mb-5">
        <thead>
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col">Adres</th>
                <th scope="col">E-mail</th>
                <th scope="col"></th>
            </tr>

        </thead>
        <tbody>
            @foreach (var client in Model)
            {
                <tr>
                    <td>
                        <a class="font-weight-bold"
                           href="@Url.Action("Client","Client",
                                    new {id=client.Id})">
                            @client.Name
                        </a>

                    </td>
                    <td>@client.Address.PostalCode @client.Address.City @client.Address.Street @client.Address.Number</td>
                    <td>@client.Email</td>
                    <td>
                        <button class="btn btn-danger btn-sm"
                                onclick="deleteClient('@client.Id',this)">
                            Usuń
                        </button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <div>
        Brak klientów do wyświetlenia
    </div>

}

@section Scripts
{
    <script type="text/javascript">
        function deleteClient(id, btn){
            if (!confirm("Czy na pewno chcesz usunąc klienta?"))
                return;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete","Client")',
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.Success) {
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    } else {
                        alert(data.Message)
                    }
                },
                error: function (data) {
                    alert(data.Message)
                },
                dataType: 'json'
            });
        }
    </script>

}


